extends ../layout

block content
    h1 Add New Product
    form(action="/products/add", method="post")
    .form-group
        label(for= "Name") Product Name
        input(type="text", class="form-control" name="name")
        .form-group
        label(for= "Price") Product Price
        input(type="text", class="form-control" name="price")
    input(type="submit", class=" btn btn-info")